{% extends 'base.html' %}

{% block content %}
    <div class="text-center mt-20 text-white">
        <a class="text-5xl mb-10 block inline-block" href="/">🍅</a>
        <div id="app-wrapper" class="w-4/5 sm:w-3/4 md:w-1/2 lg:w-1/3 bg-red-500 mx-auto p-10 bg-opacity-70 text-center px-10 text-gray-50">
          
                <p class="mb-5 text-xl mb-10 mx-auto capitalize">{{ project }}</p>
                <div id="vue-app">
                    <div id="timer" v-if="activeProject">
                    <div class="text-5xl mb-5 tracking-tight">
                        <span>[[minutes]]:[[seconds]]</span>
                    </div>
                    <div id="controls" class="text-lg mb-10">
                        <button @click="pauseHandler()" v-if="timing && !paused" class="mx-auto mt-5 rounded bg-green-200 text-sm px-6 py-2.5 hover:bg-green-100 text-black focus:outline-none">Pause</button>
                        <button @click="pauseHandler()"  v-else-if="timing" class="mx-auto mt-5 rounded bg-green-200 text-sm px-6 py-2.5 hover:bg-green-100 text-black focus:outline-none">Unpause</button>
                    
                        <button @click="timingStop()" v-if="timing" class="mx-auto mt-5 rounded bg-green-200 text-sm px-6 py-2.5 hover:bg-green-100 text-black focus:outline-none">Stop</button>
                        <button @click="timingStart()" v-else class="mx-auto mt-5 rounded bg-green-200 text-sm px-6 py-2.5 hover:bg-green-100 text-black focus:outline-none">Start</button>
                    </div>
                    <div id="tratacount">
                        <p class="mb-2">Tomato Count: </p>
                        <span v-for="trata in trataCount">🍅</span>
                        <p class="mt-2">[[ trataCount * 25 ]] minutes total</p>
                        <p><small>([[ trataCount ]] x 25 minutes)</small></p>
                    </div>
                    </div>
                </section>
                <div>
          
                </div>
                
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<!--cdns-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--vue app-->
<script>
    var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#vue-app',
    data: {
        trataTime: (25 * 60),
        trataCount: {{ intervals_count }},
        projectId: 1,
        timer: null,
        timing: false,
        paused: false,
        activeProject: true,
    }, 
    methods: {
        timingStop: function(){
            this.timing = false;
            this.paused = false;
            if (this.trataTime === 0){
                
                // call incremenet interval here
                axios({
                method : "POST",
                url:"{% url 'add_interval' project.id %}", //django path name
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
               
                }).then(() => {
                    this.trataCount++
                })
              

            }
            clearInterval(this.timer)
            this.trataTime = (25 * 60);
        },
        timingStart: function(){
            this.timing = true;
            // call countdown() every second
            this.timer = setInterval(() => this.countdown(), 1000)
        },
        countdown: function(){
            if (this.trataTime >= 1){
                this.trataTime--;
            } else {
                this.trataTime = 0;
                this.timingStop();
            }
        },
        pauseHandler: function(){
            this.paused = !this.paused;
            if (this.paused){
                clearInterval(this.timer);
                this.timer = null;
            } else {
                this.timingStart();
            }
        },
        timePad: function(time){
            return (time < 10 ? '0' + time : time);
        },
        selectedProject: function(){
            this.activeProject = event.target.value;
        }
    },
    computed: {
        minutes: function(){
            const minutes = Math.floor(this.trataTime / 60);
            return this.timePad(minutes)
        },
        seconds: function(){
            const seconds = this.trataTime - (this.minutes * 60);
            return this.timePad(seconds)
        },
    }
    })
</script>
{% endblock %}